{"creditModuleId":"6304485878110623541","creditModelId":"default","version":12,"name":"Ecosystem feedback - Ledger analysis","weight":5,"score":0,"factorScores":[{"factorId":"6304489084324681934","name":"Weighted days past due (days)","version":6,"weight":1.67,"value":null,"manualScore":9,"autoScore":null,"valueType":"NUMBER","entityDerivationFormula":null,"creditFactorScoringRule":{"type":"number","valueType":"RANGE","ranges":[{"from":null,"to":10.001,"score":3},{"from":10.001,"to":20.001,"score":2},{"from":20.001,"to":30.001,"score":1},{"from":30.001,"to":null,"score":0}],"withoutRangeScore":null}}]}