{
"formId":"6338847154752199125",
"formFieldAnswers":[
{
"formFieldId":"6338847154714450374",
"answers":[
1513103400000
]
},
{
"formFieldId":"6338847154727033293",
"answers":[
"test Business"
]
},
{
"formFieldId":"6338847154706061763",
"answers":[
"Product caters to which industry"
]
},
{
"formFieldId":"6338847154710256069",
"answers":[
"{\"material\":\"Product caters to which industry\",\"quantity\":12,\"units\":\"12\"}",
"{\"material\":null,\"quantity\":null,\"units\":null}",
"{\"material\":null,\"quantity\":null,\"units\":null}"
]
},
{
"formFieldId":"6338847154722838987",
"answers":[
"213"
]
},
{
"formFieldId":"6338847154714450375",
"answers":[
"123"
]
},
{
"formFieldId":"6338847154731227601",
"answers":[
"{\"financialYear\":\"2017-2018\",\"turnover\":21}",
"{\"financialYear\":null,\"turnover\":null}",
"{\"financialYear\":null,\"turnover\":null}"
]
},
{
"formFieldId":"6338847154701867458",
"answers":[
"12"
]
},
{
"formFieldId":"6338847154718644681",
"answers":[
"{\"clientName\":null,\"clientContribution\":null}",
"{\"clientName\":null,\"clientContribution\":null}",
"{\"clientName\":null,\"clientContribution\":null}"
]
},
{
"formFieldId":"6338847154727033294",
"answers":[
"{\"supplierName\":null}",
"{\"supplierName\":null}",
"{\"supplierName\":null}"
]
}
]
}