{
"dateCreated":1513055356425,
"lastModified":1513055365667,
"createdBy":"6076953799463800943",
"lastModifiedBy":"OXYZO_SYSTEM",
"applicationId":"$context.getLoanAppId()",
"applicantAccountDto":{
"accountId":"6076953799463800943",
"name":"Test",
"email":"girdharnitika@gmail.com",
"mobile":"9654997632",
"profiles":[
"OXYZOAPPLICANT",
"BUYER"
],
"companyName":"tezt",
"primaryOrganisationId":null
},
"clientApplicationId":"$context.getLoanAppId()",
"applicantApplicationId":"$context.getApplicantAppId()",
"applicantId":"6076953799463800943",
"version":1,
"applicationDate":1513055356421,
"loanAmount":100,
"sanctionedAmount":null,
"requiredInNumberOfDays":0,
"loanType":"PO_FINANCING",
"contactPersonName":"test",
"contactPersonMobile":"9654997632",
"contactPersonEmail":"test@gmail.com",
"city":null,
"loanApplicationStatus":"UNVERIFIED",
"processingOfficerAccount":null,
"evaluation":{
"overallEvaluation":null
},
"offer":{
"limitOffer":null,
"nbfcOffers":[
]
},
"salesPersonAccount":{
"accountId":"6130569898436333872",
"name":"Nitika OFB",
"email":"nitika@ofbusiness.in",
"mobile":null,
"profiles":[
"OXYZOADMIN"
],
"companyName":null,
"primaryOrganisationId":null
},
"documentCollectorAccount":{
"accountId":"6130569898436333872",
"name":"Nitika OFB",
"email":"nitika@ofbusiness.in",
"mobile":null,
"profiles":[
"OXYZOADMIN"
],
"companyName":null,
"primaryOrganisationId":null
},
"loanApprovedAmount":100,
"loanDisbursedAmount":null,
"rejectionReason":null,
"client":{
"name":"tezt",
"clientId":"6340336741789996009",
"entityType":null,
"status":"UNVERIFIED",
"natureOfBusiness":null,
"industryType":null,
"pan":null,
"cin":null,
"tin":null,
"yearOfIncorporation":0,
"numberOfPromoters":0,
"numberOfEmployees":0,
"keyClients":null,
"promoters":[
],
"numberOfProjects":0,
"revenue":null,
"officeAddress":null,
"officeType":null,
"businessRegistered":false,
"hasCCODAccount":false,
"documents":[
],
"mundaneDetail":{
"dateCreated":1513055354477,
"lastModified":1513055354477,
"createdBy":"6076953799463800943",
"lastModifiedBy":"6076953799463800943"
},
"bankAccounts":[
],
"email":null,
"duplicateOf":null,
"organisationId":null,
"deleted":false
},
"customerRatingCategory":10,
"purpose":null,
"loanTenure":3,
"comments":[
],
"loanRequests":null,
"abandonmentReason":null,
"deleted":false,
"clientId":"6281999835595807213",
"registeredMobileNumber":"9654997632",
"pdFile":null
}